.logo{
    text-align: center;
}
header{
    text-align: center;
    justify-content: center;
}

header >h1{
    font-family: 'Libre Franklin', sans-serif;
    color :hsl(0, 0%, 59%);
}
header>h1>strong{
    font-weight: 800;
    color: black;
}

header>h3{
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 0px;
    font-style: normal;
    font-size: large;
}

.emailinput{
    justify-content: center;
    display: flex;
}
.emailinput input {
    text-align: left;
    padding:10px 20px;
    font-size: larger;
    padding-right: 150px;
    border-radius: 30px;
    border:2px solid hsl(223, 100%, 88%);
    color: hsl(223, 100%, 88%);
    margin-right: 7px;
}
.emailinput>input[placeholder]{
    color:hsl(223, 100%, 88%) ;
}
figure{
    justify-content: center;
    display: flex;
    padding: 100px;
}
    

.icons{
    display: flex;
    justify-content: center;
}
.icon1{
    padding-right: 20px;
    padding-bottom:30px ;
    font-size: larger;
    color:hsl(223, 87%, 63%);
}
.icon2{
    padding-right: 20px;
    font-size: larger;
    color: hsl(223, 87%, 63%);
}
.icon3{
    font-size: larger;
    border-color: hsl(223, 87%, 63%);
    color: hsl(223, 87%, 63%);
}
footer{
    text-align: center;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 50px;
    padding-bottom: 50px;
}
.emailinput button{
    text-align: center;
    background-color: hsl(223, 87%, 63%);
    justify-content: center;
    padding: 10px 40px;
    border-radius: 30px;
    font-size: larger;
    color: white;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 400px;
    border: 2px solid hsl(223, 87%, 63%);
}
.emailinput[data-error].input{
    border-color: hsl(354, 100%, 66%);
    color: hsl(354, 100%, 66%);
}
.emailinput[data-error].input::after{
    content: attr(data-error);
    font-size: 0.85em;
    color: hsl(354, 100%, 66%);
}


@media (max-width:600px){
    .emailinput button{
        text-align: center;
        background-color: hsl(223, 87%, 63%);
        justify-content: center;
        padding: 10px 100px;
        border-radius: 30px;
        font-size: larger;
        color: white;
        font-family: 'Libre Franklin', sans-serif;
        font-weight: 400px;
        border: 2px solid hsl(223, 87%, 63%);
        display: flex;
        flex-direction: column;
    }
    .emailinput input {
        text-align: left;
        padding:10px 20px;
        font-size: larger;
        padding-right: 150px;
        border-radius: 30px;
        border:2px solid hsl(223, 100%, 88%);
        color: hsl(223, 100%, 88%);
        margin-right: 7px;
        max-width: fit-content;
        display: flex;
    
    }  
    body{
        width:fit-content;
        
    }
}